:host {
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

:host>mdl-card {
    margin: auto;
    padding: 24px;
}

:host mdl-card-supporting-text button {
    float: right;
}

:host mdl-card-supporting-text md-input-container {
    width: 100%;
}

:host mdl-card-actions a {
    text-transform: lowercase;
}

:host .action-holder {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

:host .progress-container {
    width: 100%;
    height: 4px;
}

:host .progress-container>mdl-progress {
    width: 100%;
}

/deep/ .mat-dialog-container {
    max-width: 100vw;
    max-height: 100vh;
    padding: 0px;
}