:host {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
}

:host md-card {
  margin-bottom: 16px;
}

:host .letter-as-avatar {
  line-height: 20px !important;
  font-size: 20px !important;
  height: 24px !important;
  padding: 4px !important;
  padding-left: 6px !important;
  padding-right: 6px !important;
  width: 20px !important;
  background: #ea4335 !important;
  color: white !important;
}

:host .title-container>h1 {
  padding: 16px;
}

:host .tile-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

:host .tile>div {
  padding: 16px;
}

:host .tile {
  width: 50%;
}

:host .tile-text-holder {
  padding: 0px;
}

@media only screen and (max-width: 992px) {
   :host .tile-container {
    flex-direction: column;
  }
   :host .tile {
    width: 100%;
  }
}

:host .paragraph-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
}

@media only screen and (max-width: 600px) {
   :host .paragraph-container {
    flex-direction: column;
  }
}

:host .sub-paragraph {
  display: flex;
}

:host .sub-paragraph>p {
  margin: auto;
}

:host .user-avatar-img {
  background-size: cover;
  background-position: 50% 50%;
}

:host .mat-list-avatar {
  width: 32px !important;
  height: 32px !important;
}

:host .user-avatar-img,
:host .letter-as-avatar {
  margin-left: 8px;
}

:host .md-list-item-property {
  min-height: 72px !important;
}

/deep/ .md-list-item-property>.mat-list-item-content {
  height: 72px;
  min-height: 72px !important;
}

:host .avatar-list-item {
  min-height: 56px;
}

:host .avatar-list-item img,
:host .avatar-list-item md-icon {
  margin-left: 16px;
}

:host .md-icon-lock,
:host .md-icon-location,
:host .md-icon-person,
:host .md-icon-phone {
  padding-left: 16px;
}

.user-settings-list-nav {
  padding-right: 16px;
}
