<div class="title-container container">
    <h1>Account settings</h1>
</div>

<div class="tile-container container">
    <div class="tile">
        <div class="tile-text-holder">
            <h2>User data</h2>
            <div class="paragraph-container">
                <div class="sub-paragraph">
                    <img [src]="'./../../assets/account_settings.png'" />
                </div>
                <div class="sub-paragraph">
                    <p>Set additional data to improve application customization and in consequence usage of this software more user friendly!<br> Please take a second and set your data.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="tile">
        <md-card class="example-card">
            <md-card-content>
                <md-nav-list class="user-settings-list">
                    <h3 md-subheader>Avatar</h3>
                    <md-list-item class="avatar-list-item animated fadeInUp" [ngStyle]="{'animation-delay.ms': 75}" (click)="selectAvatar()">
                        <md-icon *ngIf="!user.avatar" class="shadow letter-as-avatar" md-list-icon>{{avatar.sign}}</md-icon>
                        <div *ngIf="user.avatar" md-list-avatar class="shadow user-avatar-img" [ngStyle]="{'background-image': 'url(' + avatar.url + ')'}" alt="user avatar"></div>
                        <h4 md-line>{{user.login}}</h4>
                    </md-list-item>
                    <md-divider></md-divider>
                    <h3 md-subheader>User data</h3>
                    <md-list-item class="md-list-item-property animated fadeInUp" [ngStyle]="{'animation-delay.ms': 150}" (click)="setProperty('names')">
                        <md-icon class="green-color md-icon-person" md-list-icon>person</md-icon>
                        <h4 md-line>Firstname and Lastname</h4>
                        <p md-line *ngIf="user.firstname || user.lastname" class="animated fadeIn"> {{user.firstname +' '+ user.lastname}} </p>
                        <md-icon class="user-settings-list-nav">keyboard_arrow_right</md-icon>
                    </md-list-item>
                    <md-list-item class="md-list-item-property animated fadeInUp" [ngStyle]="{'animation-delay.ms': 225}" (click)="setProperty('phone')">
                        <md-icon class="yellow-color md-icon-phone" md-list-icon >phone</md-icon>
                        <h4 md-line>Phone number</h4>
                        <p md-line *ngIf="user.phone" class="animated fadeIn"> {{user.phone}} </p>
                        <md-icon class="user-settings-list-nav">keyboard_arrow_right</md-icon>
                    </md-list-item>
                    <md-list-item class="md-list-item-property animated fadeInUp" [ngStyle]="{'animation-delay.ms': 300}" (click)="setProperty('address')">
                        <md-icon class="red-color md-icon-location" md-list-icon >location_on</md-icon>
                        <h4 md-line>Address</h4>
                        <p md-line *ngIf="user.address" class="animated fadeIn"> {{user.address.post +' '+ user.address.city +', '+ user.address.street}} </p>
                        <md-icon class="user-settings-list-nav">keyboard_arrow_right</md-icon>
                    </md-list-item>
                    <md-divider></md-divider>
                    <h3 md-subheader>Account</h3>
                    <md-list-item class="animated fadeInUp" [ngStyle]="{'animation-delay.ms': 375}" (click)="changePassword()">
                        <md-icon class="blue-color md-icon-lock" md-list-icon>lock</md-icon>
                        <h4 md-line>Password</h4>
                    </md-list-item>
                </md-nav-list>
            </md-card-content>
        </md-card>
    </div>
</div>

<!--<pre>
{{user | json}}
</pre>-->