<md-toolbar color="accent" class="shadow" style="background: white; color: rgb(66, 133, 244)" [@flyInOut]="">
  <md-toolbar-row>
    <md-input-container class="animated fadeIn">
      <input [(ngModel)]="query.query.title" #search (keyup)="searchInputChange(search.value)" mdInput placeholder="Search">
    </md-input-container>
  </md-toolbar-row>
</md-toolbar>
<div class="container">
  <div class="item-container ">

    <div on *ngFor="let project of projectsFromStream | async; let i=index;" class="animated fadeInUp fixed-size-item" [ngStyle]="{'animation-delay.ms': 75*i}">
      <div>
        <md-card class="example-card">
          <a [routerLink]="['/project', 'edit', project._id]">
            <md-card-header [title]="'Owner: ' + project.user.login">
              <div *ngIf="project.user && project.tmp" md-card-avatar class="example-header-image">
                <md-icon *ngIf="!project.user.avatar" class="shadow letter-as-avatar" md-list-icon>{{project.tmp.userExtra.sign}}</md-icon>
                <div *ngIf="project.user.avatar" md-list-avatar class="shadow user-avatar-img" [ngStyle]="{'background-image': 'url(' +project.tmp.userExtra.avatar+ ')'}"
                  alt="user avatar"></div>
              </div>
              <md-card-title>{{project.title}}</md-card-title>
              <md-card-subtitle>{{project.createdAt | date:"yyyy-MM-dd HH:mm"}}</md-card-subtitle>
            </md-card-header>

            <md-card-content>
              <div *ngIf="project.tmp && project.tmp.files.length>0">
                <div class="card-img" [ngStyle]="{'background-image': 'url(' +apiUrl+project.tmp.files[0].destination+'/s/'+project.tmp.files[0].filename+ ')'}"></div>
              </div>
              <p [ngClass]="{'extended-text-area': !(project.tmp && project.tmp.files.length>0)}">
                {{project.description}}
              </p>
            </md-card-content>
          </a>
          <md-card-actions>
            <button md-icon-button [mdMenuTriggerFor]="menu">
              <md-icon>more_vert</md-icon>
            </button>
            <md-menu #menu="mdMenu">
              <button md-menu-item  [routerLink]="['/project', 'edit', project._id]">
                <md-icon>edit</md-icon>
                <span>Edit</span>
              </button>
              <button *ngIf="query.query.active" md-menu-item (click)="changeProjectState(project._id)">
                <md-icon>archive</md-icon>
                <span>Move to archive</span>
              </button>
              <button *ngIf="!query.query.active" md-menu-item (click)="changeProjectState(project._id)">
                <md-icon>restore</md-icon>
                <span>Restore</span>
              </button>
              <button *ngIf="!query.query.active" md-menu-item (click)="removeItem(project._id)">
                <md-icon>delete</md-icon>
                <span>Delete</span>
              </button>
            </md-menu>
          </md-card-actions>
        </md-card>
      </div>
    </div>

  </div>
</div>
<md-paginator [length]="query.pagination.total" [pageSize]="query.pagination.limit" [pageSizeOptions]="[8, 16, 32, 64]" (page)="pageEvent($event)"></md-paginator>

<a *ngIf="query.query.active" md-fab disableRipple="!fabOpen" class="fab-btn" [ngClass]="{'fab-btn-active': fabOpen, 'pulse': !fabOpen && fabBtnPulse}">
  <div class="fab-btn-inner-container">
    <div class="new-project-holder">
      <app-header [config]="appHeaderConfig">
        <div class="app-header-conteiner">
          <div class="app-header-nav">
            <div class="md-icon-button-container">
              <button md-icon-button (click)="closeFab()">
                <md-icon>close</md-icon>
              </button>
              <span class="app-header-title pointer">New project ...</span>
            </div>
          </div>
        </div>
      </app-header>
      <div style="width: 100%; height: 100%; overflow: auto;">
        <app-project-edit style="width: 100%; height: 100%; overflow: auto; display: block;" *ngIf="fabOpen" (onAddNew)="getProjects()"></app-project-edit>
      </div>
    </div>
  </div>
  <md-icon *ngIf="!fabOpen" class="animated rotateIn" (click)="openFab()">add</md-icon>
</a>
