:host {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: absolute;
}

:host .letter-as-avatar {
  line-height: 20px !important;
  font-size: 20px !important;
  height: 24px !important;
  padding: 4px !important;
  padding-left: 6px !important;
  padding-right: 6px !important;
  width: 20px !important;
  background: #ea4335 !important;
  color: white !important;
  border-radius: 50%;
}

:host .user-avatar-img {
  background-size: cover;
  background-position: 50% 50%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

:host .mat-card-header {
  min-height: 104px;
  max-height: 104px;
  /* overflow: auto; */
}

:host md-card-content p {
  min-height: 130px;
  max-height: 130px;
  overflow: auto;
  text-align: justify;
}

:host ::-webkit-scrollbar {
  width: 0.5em;
}

:host ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

:host ::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 3px;
}

:host md-card-content .extended-text-area {
  min-height: 298px;
  max-height: 298px;
}

:host md-card a {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  max-height: 400px;
  text-decoration: none;
  /* overflow-y: auto; */
}

:host .item-container {
  /* margin: 8px; */
  /* padding-left: 8px;
  padding-right: 8px; */
  min-height: calc(100vh - 250px);
  margin-bottom: 8px;
}

:host md-card md-card-content .card-img {
  background-size: cover;
  background-position: 50% 50%;
  min-height: 160px;
  height: 160px;
  max-height: 160px;
  margin-left: -16px;
  margin-right: -16px;
  margin-bottom: 8px;
}

:host .md-icon-button-container>button {
  margin-left: 24px;
  margin-right: 24px;
}

:host .new-project-holder {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
}

:host .fixed-size-item>div {
  margin: 8px;
}

:host .fixed-size-item {
  width: 25%;
}

@media only screen and (max-width: 992px) {
   :host .fixed-size-item {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
   :host .fixed-size-item {
    width: 100%;
  }
}

:host .item-container {
  display: flex;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  flex-wrap: wrap;
}

 :host .item-container .fixed-size-item {
  /* height: 100%; */
}

:host .mat-card {
  padding: 16px;
}

:host md-card-actions {
  display: flex;
  justify-content: flex-end;
}

:host .fab-btn {
  border-radius: 50%;
  position: fixed;
  bottom: 64px;
  right: 32px;
  width: 56px;
  height: 56px;
  background-color: #ff4081;
  transition: width 400ms cubic-bezier(0.4, 0.0, 0.2, 1), height 225ms cubic-bezier(0.4, 0.0, 0.2, 1), background-color 450ms cubic-bezier(0.4, 0.0, 0.2, 1), border-radius 200ms cubic-bezier(0.4, 0.0, 0.2, 1) 0ms;
}

:host .fab-btn md-icon {
  width: 100%;
}

:host .fab-btn-inner-container {
  color: rgba(0, 0, 0, 0.65);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

:host .fab-btn .fab-btn-inner-container {
  position: absolute;
  clip-path: circle(30% at 50% 50%);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: clip-path 450ms cubic-bezier(0.4, 0.0, 0.2, 1) 0ms, background-color 225ms cubic-bezier(0.4, 0.0, 0.2, 1) 0ms, opacit 250ms cubic-bezier(0.4, 0.0, 0.2, 1) 0ms;
}

:host .fab-btn-active {
  border-radius: 0px;
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0px;
  right: 0px;
  box-shadow: none;
  width: 100%;
  height: 100%;
  transition: width 225ms cubic-bezier(0.4, 0.0, 0.2, 1), height 450ms cubic-bezier(0.4, 0.0, 0.2, 1), right 200ms cubic-bezier(0.4, 0.0, 0.2, 1) 25ms, bottom 400ms cubic-bezier(0.4, 0.0, 0.2, 1) 50ms, background-color 450ms cubic-bezier(0.4, 0.0, 0.2, 1) 0ms, border-radius 200ms cubic-bezier(0.4, 0.0, 0.2, 1) 0ms;
}

:host .fab-btn-active .fab-btn-inner-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  border-radius: 0px;
  clip-path: circle(75% at 50% 50%);
  background-color: rgba(241, 241, 241, 1.0);
  opacity: 1;
  transition: clip-path 300ms cubic-bezier(0.4, 0.0, 0.2, 1) 100ms, width 250ms cubic-bezier(0.4, 0.0, 0.2, 1) 100ms, height 250ms cubic-bezier(0.4, 0.0, 0.2, 1) 100ms, background-color 225ms cubic-bezier(0.4, 0.0, 0.2, 1) 0ms, opacity 250ms cubic-bezier(0.4, 0.0, 0.2, 1) 0ms;
}


/*fix header btn in add project*/

.md-icon-button-container button md-icon {
  padding: 0px !important;
}

.md-icon-button-container button {
  margin-top: 12px;
}

@media only screen and (max-width: 992px) {
  margin-top: 7px;
}
