<form *ngIf="myForm" [formGroup]="myForm" novalidate (ngSubmit)="submit(myForm)">
    <div formArrayName="tickets">
        <md-list>

            <md-list-item  class="animated fadeInUp" *ngFor="let ticket of myForm.controls.tickets.controls; let i=index;" [formGroupName]="i">
                <my-dynamic-form-group (onInputChange)="captureEvent($event)" [extraClass]="'app-project-ticket'" [dynamicFormGroup]="ticket"></my-dynamic-form-group>
                <a *ngIf="myForm.controls.tickets.length!=(i+1)" md-icon-button (click)="remove(i)">
                    <md-icon>clear</md-icon>
                </a>
            </md-list-item>

        </md-list>
    </div>
</form>