:host {
  display: flex;
    width: 100%;
    position: relative;
}
:host div {
  width: 100%;
  height: 64px;
  line-height: 64px;
  transition: height 0.075s linear 0s;
}

/deep/ app-header button {
  /*color: white !important;*/
  height: 64px;
  line-height: 64px;
}

/deep/ .app-header-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/deep/ .app-header-title {
  line-height: 64px;
  /*color: #fff;*/
  font-size: 18px;
  font-weight: 400;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
}

/deep/ .app-header-actions {
  padding-right: 16px;
}

@media only screen and (max-width: 992px) {
   :host div {
    height: 56px;
    line-height: 56px;
    transition: height 0.375s linear;
  }
  /deep/ app-header button {
    height: 56px;
    line-height: 56px;
  }
  /deep/ .app-header-title {
    line-height: 56px;
  }
}

:host .app-roll-up {
  /* height: 0px;
  transition: height 0.075s linear; */
}
 
:host .animated-linear-in {
  animation-duration: 0.175s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

:host .animated-linear-out {
  animation-duration: 0.175s;
  animation-delay: 0.0s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}