<div>
  <h2>Select avatar for your profile</h2>
  <app-file *ngIf="userId" (onSelect)="onSelect($event)" [parentid]="userId" [keyword]=" 'userAvatar' " [mode]=" 'select' "></app-file>
  <!-- SELECT BAR -->
  <div class="under-select-file-nav-container"></div>
  <div class="select-file-nav-container">
    <div class="select-file-nav grey-bg animated fadeIn">
      <div class="btn-action-holder">
        <button (click)="confirmSelect()" [disabled]="selectedFile==null" mdl-button mdl-button-type="raised" mdl-colored="primary"
          mdl-ripple>Confirm</button>
        <button (click)="cancelSelect()" mdl-button mdl-ripple>Cancel</button>
      </div>
    </div>
  </div>
  <!-- SELECT BAR -->
</div>