:host {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  background: white;
}

:host>div {
  padding: 12px;
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  overflow-x: hidden;
  overflow-y: auto;
}

/deep/ .mat-dialog-container {
  max-width: 100vw;
  max-height: 100vh;
  padding: 0px;
}


/*confirm cancel NAV*/

:host .under-select-file-nav-container {
  margin-top: 10px;
  width: 100%;
  height: 64px;
  position: relative;
}

:host .select-file-nav-container {
  width: calc(100% - 12px);
  position: absolute;
  bottom: 12px;
  height: 64px;
  line-height: 64px;
}

:host .select-file-nav {
  position: absolute;
  padding: 0px;
  bottom: 0px;
  height: 64px;
  line-height: 64px;
  width: inherit;
  max-width: inherit;
}

:host .select-file-nav>div {
  padding-left: 20px;
  padding-right: 20px;
}

@media only screen and (max-width: 992px) {
   :host select-file-nav {
    height: 56px;
    line-height: 56px;
  }
   :host .under-select-file-nav-container {
    height: 56px;
  }
   :host .select-file-nav-container {
    height: 56px;
    line-height: 56px;
  }
}

:host .select-file-nav div {
  float: right;
}

:host .select-file-nav>div>a {
  /*margin-left: 16px;*/
  margin-right: 16px;
}


/*confirm cancel NAV*/
