:host {
  position: relative;
  width: 100%;
  display: block;
}

:host .uploaded {
  border-left: 10px solid #757575;
  border-right: 10px solid #757575;
  border-bottom: 10px solid #757575;
  /*padding: 5px;*/
  background-color: white;
  height: 33vh;
  width: 33%;
  display: block;
  position: fixed;
  bottom: 0px;
  right: 30px;
  z-index: 1001;
}

:host .uploading-files-list {
  max-height: calc(33vh - 72px) !important;
  overflow-y: auto;
}

@media only screen and (max-width: 992px) {
   :host .uploaded {
    width: calc(100% - 0px);
    max-width: calc(100% - 20px);
    height: 50vh;
    right: 0px;
    z-index: 1001;
  }
  :host .uploading-files-list  {
    max-height: calc(50vh - 72px) !important;
  }
}

:host .uploading-files-header {
  background-color: #757575;
}

:host .uploading-files-list mdl-list-item {
  border-bottom: 1px solid #757575;
  height: 50%;
}

:host .uploading-files-list mdl-list-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.375s cubic-bezier(.4, 0, .2, 1)
}

:host mdl-list-item-sub-title {
  display: flex !important;
  flex-direction: column;
}

:host .upload-data {
  display: inline-flex;
  flex-direction: column;
}

:host mdl-list-item-sub-title>.upload-data {
  display: flex !important;
  flex-direction: row;
}

:host mdl-list-item-sub-title>.upload-progress-bar {
  height: 4px;
  padding-top: 2px;
}

:host mdl-list {
  padding: 0px;
  width: 100%;
}

:host mdl-list-item-secondary-content  mdl-icon{
    cursor: pointer;
}
