<div class="uploaded shadow" *ngIf="uploadingFiles.length>0" [@uloadingFileAnimation]>
    <mdl-list class="uploading-files-header">
        <mdl-list-item lines="2">
            <mdl-list-item-primary-content>
                <mdl-icon mdl-list-item-icon class="white-color">insert_drive_file</mdl-icon>
                <span class="white-color">Files</span>
                <mdl-list-item-sub-title class="white-color">{{uploadingFiles.length}} file(s)</mdl-list-item-sub-title>
            </mdl-list-item-primary-content>
            <mdl-list-item-secondary-content>
                <a (click)=clearUloadingList()>
                    <mdl-icon class="white-color">close</mdl-icon>
                </a>
            </mdl-list-item-secondary-content>
        </mdl-list-item>
    </mdl-list>

    <mdl-list class="uploading-files-list">
        <mdl-list-item lines="2" *ngFor="let uploadingFile of uploadingFiles; let i=index;" class="animated fadeInUp" [ngStyle]="{'animation-delay.ms': 75*i}">
            <mdl-list-item-primary-content>
                <div class="icon-container" [ngSwitch]="uploadingFile.file.type">
                    <mdl-icon *ngSwitchCase="'image/jpeg'" class="red-color" mdl-list-item-icon>photo</mdl-icon>
                    <mdl-icon *ngSwitchCase="'image/png'" class="red-color" mdl-list-item-icon>photo</mdl-icon>
                    <mdl-icon *ngSwitchCase="'image/gif'" class="red-color" mdl-list-item-icon>gif</mdl-icon>
                    <mdl-icon *ngSwitchCase="'video/mp4'" class="blue-color" mdl-list-item-icon>movie</mdl-icon>
                    <mdl-icon *ngSwitchCase="'audio/mp3'" class="yellow-color" mdl-list-item-icon>music_note</mdl-icon>
                    <mdl-icon *ngSwitchCase="'text/plain'" class="blue-color" mdl-list-item-icon>description</mdl-icon>
                    <mdl-icon *ngSwitchDefault class="green-color" mdl-list-item-icon>insert_drive_file</mdl-icon>
                </div>
                <span class="truncate">{{uploadingFile.file.name}}</span>
                <mdl-list-item-sub-title>
                    <div class="upload-data">
                        <span *ngIf="!uploadingFile.finished">{{uploadingFile.file.size*uploadingFile.progress | fileSize}} / </span>
                        <span> {{uploadingFile.file.size | fileSize}} </span>
                        <span *ngIf="!uploadingFile.finished"> ({{uploadingFile.progress*100 | number : '1.0-1' }}%)</span>
                    </div>
                    <div class="upload-progress-bar">
                        <mdl-progress *ngIf="!uploadingFile.finished" [progress]="uploadingFile.progress*100"></mdl-progress>
                    </div>
                </mdl-list-item-sub-title>
            </mdl-list-item-primary-content>
            <mdl-list-item-secondary-content>
                <a href="#">
                    <mdl-icon *ngIf="uploadingFile.finished" class="green-color animated-long-easing rotateIn">check_circle</mdl-icon>
                </a>
            </mdl-list-item-secondary-content>
        </mdl-list-item>
    </mdl-list>
</div>