:host my-dynamic-form-group {
  /* border: 1px solid red; */
}

:host md-list-item {
  /* width: 100%; */
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

/deep/ .app-project-ticket {
  /* width: 100%; */
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

/deep/ .app-project-ticket-content .mat-input-wrapper {
  padding-bottom: 12px;
}

/deep/ .app-project-ticket-finished {
  padding-left: 16px;
}

/deep/ .app-project-ticket-content {
  padding-left: 16px;
}

:host md-list-item .mat-icon-button md-icon {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

:host md-nav-list .avatars-sign {
  text-align: center;
  font-size: 20px;
  margin-left: 16px;
}

:host .new-contractor md-nav-list md-icon {
  font-size: 24px;
  color: grey;
}

:host .new-contractor my-dynamic-form-group {
  padding-left: 16px;
  padding-right: 16px;
}

:host .new-contractor md-icon {
  margin-left: 12px;
  color: grey;
}

:host .avatars-sign {
  width: 30px !important;
  height: 24px !important;
}