<md-nav-list class="animated fadeInUp">
  <md-list-item  *ngFor="let contractor of contractors; let i=index;">
    <md-icon class="shadow avatars-sign" *ngIf="contractor.sign" md-list-icon>{{contractor.sign}}</md-icon>
    <h4 *ngIf="contractor.name" md-line>{{contractor.name}}</h4>
    <p *ngIf="contractor.mail" md-line> {{contractor.mail}} </p>
    <a *ngIf="contractor" md-icon-button (click)="remove(i)">
      <md-icon>clear</md-icon>
    </a>
  </md-list-item>

  <md-list-item *ngIf="myForm" class="new-contractor">
    <md-icon md-list-icon>person_add</md-icon>
    <my-dynamic-form-group (onInputChange)="captureEvent($event)" [extraClass]="'app-project-contractors'" [dynamicFormGroup]="myForm"></my-dynamic-form-group>
  </md-list-item>
</md-nav-list>