<!-- <md-nav-list class="animated fadeInUp">
  <md-list-item *ngFor="let contractor of contractors; let i=index;">
    <md-icon class="shadow avatars-sign" *ngIf="contractor.sign" md-list-icon>{{contractor.sign}}</md-icon>
    <h4 *ngIf="contractor.name" md-line>{{contractor.name}}</h4>
    <p *ngIf="contractor.mail" md-line> {{contractor.mail}} </p>
  </md-list-item>
</md-nav-list> -->

<div class="chat-messages-wraper" #scrollMe *ngIf="project.messages">
  <div class="chat-messages-container" *ngIf="user">
    <div *ngFor="let msg of project.messages; let i=index;">
      <div class="msg-wraper" [ngClass]="{'content-left': msg.user.login!==user.login, 'content-right': msg.user.login===user.login }" >
          <div class="msg">
            {{msg.data}}
            <div class="msg-extra">
              <span *ngIf="msg.user.login!==user.login">{{msg.user.login}}</span>
              <span>{{msg.added | date:"yyyy-MM-dd HH:mm"}}</span>
            </div>
            <div class="msg-pointer"></div>
          </div>
      </div>
    </div>
  </div>
</div>

<md-nav-list>
  <md-list-item *ngIf="myForm" class="new-contractor">
    <md-icon class="chat-msg-icon" md-list-icon>message</md-icon>
    <my-dynamic-form-group (onInputChange)="captureEvent($event)" [extraClass]="'app-project-contractors'" [dynamicFormGroup]="myForm"></my-dynamic-form-group>
  </md-list-item>
</md-nav-list>
