:host {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

:host .chat-msg-icon {
  margin-left: 12px;
  color: grey;
}

:host .chat-messages-wraper {
  max-height: calc(100% - 70px);
  overflow: auto;
  border: 1px solid silver;
  border-radius: 3px;
}

:host .chat-messages-container {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-top: 8px;
}

:host .msg-wraper {
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  flex-wrap: nowrap;
}

.content-left {
  justify-content: flex-start
}

.content-right {
  justify-content: flex-end;
}

:host .msg {
  position: relative;
  max-width: 90%;
  min-width: 30%;
}

:host .msg-extra {
  display: block;
  width: 100%;
  font-size: 0.8rem;
  opacity: 0.7;
}

:host .content-left>div {
  background-color: #4385f4;
  color: rgba(255, 255, 255, 0.83);
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 8px;
  border: 1px solid #4385f4;
}

:host .content-left .msg-pointer {
  background-color: #4385f4;
  position: absolute;
  width: 16px;
  height: 16px;
  clip-path: polygon(16px 0, 0 0, 16px 16px);
  left: -16px;
  top: 8px;
}

:host .content-right>div {
  background-color: #f1f1f1;
  color: rgba(0, 0, 0, 73);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 8px;
  border: 1px solid #c1c1c1;
}

:host .content-right .msg-pointer {
  background-color: #c1c1c1;
  position: absolute;
  width: 16px;
  height: 16px;
  clip-path: polygon(0px 0px, 16px 0, 0 16px);
  right: -16px;
  top: 8px;
}
