<mdl-card class="demo-card-square animated zoomIn" mdl-shadow="2">
    <mdl-card-title mdl-card-expand>
        <h2 mdl-card-title-text i18n>Restore password!</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
        <p i18n>Enter yours email to recive a mail with instructions!</p>
        <form *ngIf="myForm" [formGroup]="myForm" novalidate (ngSubmit)="submit(myForm.controls)" class="animated fadeInUp">
            <my-dynamic-form-group (onInputChange)="captureEvent($event)" [dynamicFormGroup]="myForm"></my-dynamic-form-group>
            <div class="action-holder">
                <div>
                    <span *ngIf="responseToTemplate.status!=undefined" class="animated zoomIn" [ngClass]="{'green-color' : responseToTemplate.status, 'red-color' : !responseToTemplate.status}">{{responseToTemplate.msg}}</span>
                </div>
                <div>
                    <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple [disabled]="!myForm.valid" i18n>Restore</button>
                </div>
            </div>
        </form>
    </mdl-card-supporting-text>
    <div class="progress-container">
        <mdl-progress *ngIf="responseToTemplate.inProgress" [indeterminate]="true"></mdl-progress>
    </div>
    <mdl-card-actions mdl-card-border>
        <a [routerLink]="['/user/login']" mdl-button mdl-colored="primary" mdl-ripple i18n>Sign In</a>
        <a [routerLink]="['/user/registry']" mdl-button mdl-colored="primary" mdl-ripple i18n>Sign Up</a>
    </mdl-card-actions>
</mdl-card>