<app-header [config]="appHeaderConfig">
  <div class="app-header-conteiner">
    <div class="app-header-nav">
      <button md-button (click)="openSidenav()"><md-icon>menu</md-icon></button>
      <span class="app-header-title pointer" [routerLink]="['/']">PF</span>
    </div>
    <div class="app-header-actions">
      <div *ngIf="!isAuth" class="animated zoomIn">
        <button routerLink="/" md-button>Home</button>
        <button routerLink="/user/login" md-button>Sign In</button>
        <button routerLink="/user/registry" md-button>Sign Up</button>
      </div>
      <div *ngIf="isAuth" class="animated zoomIn">
        <button md-icon-button [mdMenuTriggerFor]="menu"><md-icon>more_vert</md-icon></button>
        <md-menu #menu="mdMenu">
          <button md-menu-item [routerLink]="['/user', { param: 'accoutn-settings' }]">
    <md-icon>settings_applications</md-icon>
    <span>Settings</span>
  </button>
          <button md-menu-item (click)="SignOut();">
    <md-icon>exit_to_app</md-icon>
    <span>Sign out</span>
  </button>
        </md-menu>
      </div>
    </div>
  </div>
</app-header>

<md-sidenav-container  [ngClass]="{'container-height': appHeaderConfig.displayHeader}">
  <md-sidenav #sidenav class="sidenav" mode="over" align="start" disableClose="false" opened="false">
    <app-nav></app-nav>
  </md-sidenav>
  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
<!-- NEED TO PUT IT HERE BECAUSE OF DOM POSITIONS AND PROBLEM WITH z-index-->
<app-file-uploading></app-file-uploading>