:host .container {
  width: 100%;
  height: 100%;
  transition: height 0.075s linear;
}

:host .container-height {
  height: calc(100% - 64px) !important;
  transition: height 0.075s linear;
}

@media only screen and (max-width: 992px) {
   :host .container-height {
    height: calc(100% - 56px) !important;
    transition: height 0.075s linear;
  }
}

:host .sidenav-content {
  /*padding: 12px;*/
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

:host .sidenav {
  padding: 0px;
}

:host md-sidenav {
  width: 240px;
}

:host .mat-sidenav-container {
  background-color: transparent;
}
