<mdl-card class="demo-card-square animated zoomIn" mdl-shadow="2">
    <mdl-card-title mdl-card-expand>
        <h2 mdl-card-title-text i18n>Sign Up!</h2>
    </mdl-card-title>
    <mdl-card-supporting-text>
        <p i18n>Enter yours email and password to sign up!</p>
        <form *ngIf="myForm" [formGroup]="myForm" novalidate (ngSubmit)="submit(myForm.controls)" class="animated fadeInUp">
            <md-input-container>
                <input formControlName="email" mdInput placeholder="Email" type="email">
                <md-error i18n>Field must be specified!</md-error>
            </md-input-container>
            <md-input-container>
                <input formControlName="password" mdInput placeholder="Password" type="password">
                <md-error i18n>Field must be specified!</md-error>
            </md-input-container>
            <md-input-container>
                <input formControlName="passwordReplay" mdInput placeholder="Replay password" type="password">
                <md-error i18n>Field must be specified!</md-error>
            </md-input-container>
            <div class="action-holder">
                <div>
                    <span *ngIf="responseToTemplate.status!=undefined" class="animated zoomIn" [ngClass]="{'green-color' : responseToTemplate.status, 'red-color' : !responseToTemplate.status}">{{responseToTemplate.msg}}</span>
                </div>
                <div>
                    <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple [disabled]="!myForm.valid" i18n>Sign Up</button>
                </div>
            </div>
        </form>
    </mdl-card-supporting-text>
    <div class="progress-container">
        <mdl-progress *ngIf="responseToTemplate.inProgress" [indeterminate]="true"></mdl-progress>
    </div>
    <mdl-card-actions mdl-card-border>
        <a [routerLink]="['/user/login']" mdl-button mdl-colored="primary" mdl-ripple i18n>Sign In</a>
        <a [routerLink]="['/user/restore-password']" mdl-button mdl-colored="primary" mdl-ripple i18n>Restore password</a>
    </mdl-card-actions>
</mdl-card>