:host .avatar-bg {
  width: 100%;
  height: 160px;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('/assets/avatarBG.jpg');
  position: relative;
}

:host .user-avatar-container {
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-flow: column;
}

:host .user-avatar-img {
  width: 100%;
  height: 100px;
  display: flex;
}

:host .user-avatar-img>div {
  margin: auto;
  margin-left: 0px;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-size: cover;
  background-position: 50% 50%;
  line-height: 68px;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
}

:host .user-avatar-txt-menu{
  height: 60px;
  display: flex;
}

:host .user-avatar-txt-container {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: space-between;
}


