<div class="avatar-bg" *ngIf="isAuth">
  <div class="user-avatar-container">
    <div class="user-avatar-img">
      <div *ngIf="!user.avatar" class="shadow red-bg white-color" md-list-icon>{{avatar.sign}}</div>
      <div *ngIf="user.avatar" md-list-avatar class="shadow" [ngStyle]="{'background-image': 'url(' + avatar.url + ')'}"></div>
    </div>
    <div class="user-avatar-txt-menu">
      <div class="user-avatar-txt-container">
        <div class="user-avatar-txt">
          <span class="white-color bold" *ngIf="user.firstname && user.lastname">{{user.firstname+' '+user.lastname}}</span>
          <span class="white-color">{{user.login}}</span>
        </div>
        <div class="user-avatar-txt">
          <button md-icon-button [mdMenuTriggerFor]="userAccountMenu"><md-icon class="white-color">arrow_drop_down</md-icon></button>
          <md-menu #userAccountMenu="mdMenu">
            <button md-menu-item  (click)="closeNav()" [routerLink]="['/user', { param: 'accoutn-settings' }]">
    <md-icon>settings_applications</md-icon>
    <span>Account settings</span>
  </button>
          </md-menu>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="nav-list">
  <md-nav-list>
    <md-list-item (click)="closeNav()" [routerLink]="['/']">
      <md-icon md-list-icon class="grey-color">home</md-icon>
      <i class="material-icons"></i>
      <h4 md-line>Home</h4>
      <p md-line>Start page</p>
    </md-list-item>
    <h3 md-subheader *ngIf="isAuth">Projects</h3>
    <md-list-item (click)="closeNav()" [routerLink]="['/project/list', 'actual', {page:0, query:''}]" *ngIf="isAuth">
      <md-icon md-list-icon class="green-color">check_circle</md-icon>
      <i class="material-icons"></i>
      <h4 md-line>Projects</h4>
      <p md-line>Yours projects</p>
    </md-list-item>
        <md-list-item (click)="closeNav()" [routerLink]="['/project/list', 'archive', {page:0, query:''}]" *ngIf="isAuth">
      <md-icon md-list-icon class="yellow-color">archive</md-icon>
      <i class="material-icons"></i>
      <h4 md-line>Archived projects</h4>
      <p md-line>Projects in archive</p>
    </md-list-item>
    <md-divider *ngIf="isAuth"></md-divider>
    <h3 md-subheader>Account</h3>
    <md-list-item *ngIf="isAuth" (click)="closeNav()" [routerLink]="['/user', { param: 'accoutn-settings' }]">
      <md-icon class="grey-color" md-list-icon>settings_applications</md-icon>
      <h4 md-line>Settings</h4>
    </md-list-item>
    <md-list-item *ngIf="isAuth" (click)="closeNav()" [routerLink]="['/user/set-data/', 'names']">
      <md-icon class="grey-color" md-list-icon>person</md-icon>
      <h4 md-line>Set names</h4>
    </md-list-item>
    <md-list-item *ngIf="isAuth" (click)="closeNav()" [routerLink]="['/user/set-data/', 'phone']">
      <md-icon class="grey-color" md-list-icon>phone</md-icon>
      <h4 md-line>Set phone number</h4>
    </md-list-item>
    <md-list-item *ngIf="isAuth" (click)="closeNav()" [routerLink]="['/user/set-data/', 'address']">
      <md-icon class="grey-color" md-list-icon>location_on</md-icon>
      <h4 md-line>Set address</h4>
    </md-list-item>
    <md-divider *ngIf="isAuth"></md-divider>
    <md-list-item *ngIf="isAuth" (click)="SignOut();">
      <md-icon class="grey-color" md-list-icon>exit_to_app</md-icon>
      <h4 md-line>Sign out </h4>
    </md-list-item>
    <!-- if it is not auth -->
    <md-list-item *ngIf="!isAuth" (click)="closeNav()" [routerLink]="['/user/login/']">
      <h4 md-line>Sign In</h4>
    </md-list-item>
    <md-list-item *ngIf="!isAuth" (click)="closeNav()" [routerLink]="['/user/registry/']">
      <h4 md-line>Sign Out</h4>
    </md-list-item>
    <md-list-item *ngIf="!isAuth" (click)="closeNav()" [routerLink]="['/user/restore-password/']">
      <h4 md-line>Restore password</h4>
    </md-list-item>
  </md-nav-list>
</div>

<ng-content></ng-content>