<div *ngIf="myForm" [formGroup]="myForm" [class]="extraClass">

  <div *ngFor="let fc of formControls" [ngSwitch]="fc.value.controlOptions.type">
    <!-- CHECKBOX  -->
    <div [class]="fc.value.controlOptions.extraClass">
      <md-checkbox *ngSwitchCase="'checkbox'" formControlName="{{fc.key}}" [indeterminate]="indeterminate" [align]="'start'" (change)="onChange($event,fc.key)">
        {{fc.value.controlOptions.label}}
      </md-checkbox>
    </div>
    <!-- TEXTAREA  -->
    <md-input-container *ngSwitchCase="'textarea'" [class]="fc.value.controlOptions.extraClass">
      <textarea mdInput (change)="onChange($event,fc.key)" (keyup)="onKeyUp($event,fc.key)" [formControlName]="fc.key" [type]="fc.value.controlOptions.type"
        [placeholder]="fc.value.controlOptions.placeholder"></textarea>
      <md-error class="animated fadeInDown" i18n>{{fc.value.controlOptions.errorMsg}}</md-error>
    </md-input-container>
    <!-- AUTOCOMPLETE -->
    <div *ngSwitchCase="'autocomplete'" [class]="fc.value.controlOptions.extraClass">
      <md-input-container>
        <input mdInput (change)="onChange($event,fc.key)" (keyup)="onKeyUp($event,fc.key)" [placeholder]="fc.value.controlOptions.placeholder" [mdAutocomplete]="auto" [formControlName]="fc.key">
      </md-input-container>

      <md-autocomplete  #auto="mdAutocomplete">
        <md-option *ngFor="let state of fc.value.controlOptions.tmp" [value]="state">
          {{ state }}
        </md-option>
      </md-autocomplete>
    </div>
    <!-- DEFAULT  -->
    <md-input-container *ngSwitchDefault [class]="fc.value.controlOptions.extraClass">
      <input mdInput (change)="onChange($event,fc.key)" (keyup)="onKeyUp($event,fc.key)" [formControlName]="fc.key" [type]="fc.value.controlOptions.type"
        [placeholder]="fc.value.controlOptions.placeholder">
      <md-error class="animated fadeInDown" i18n>{{fc.value.controlOptions.errorMsg}}</md-error>
    </md-input-container>
  </div>

</div>
<!-- 
 <div class="icon-container" [ngSwitch]="uploadingFile.file.type">
                    <mdl-icon *ngSwitchCase="'image/jpeg'" class="red-color" mdl-list-item-icon>photo</mdl-icon>
                    <mdl-icon *ngSwitchCase="'image/png'" class="red-color" mdl-list-item-icon>photo</mdl-icon>
                    <mdl-icon *ngSwitchCase="'image/gif'" class="red-color" mdl-list-item-icon>gif</mdl-icon>
                    <mdl-icon *ngSwitchCase="'video/mp4'" class="blue-color" mdl-list-item-icon>movie</mdl-icon>
                    <mdl-icon *ngSwitchCase="'audio/mp3'" class="yellow-color" mdl-list-item-icon>music_note</mdl-icon>
                    <mdl-icon *ngSwitchCase="'text/plain'" class="blue-color" mdl-list-item-icon>description</mdl-icon>
                    <mdl-icon *ngSwitchDefault class="green-color" mdl-list-item-icon>insert_drive_file</mdl-icon>
                </div> -->

<!-- <textarea *ngSwitchCase="'textarea'" (change)="onChange($event,fc.key)" (keyup)="onKeyUp($event,fc.key)" [formControlName]="fc.key"
      mdInput [placeholder]="fc.value.controlOptions.placeholder"></textarea>

    <input *ngSwitchCase="'checkbox'" (change)="onChange($event,fc.key)" [formControlName]="fc.key"
      [type]="fc.value.controlOptions.type" mdInput [placeholder]="fc.value.controlOptions.placeholder"> -->
