<div>

  <md-card class="container">
    <h1>Project flow - demo - about</h1>
    <p>
      Sign In and try ;)
    </p>
    <mat-accordion multi="true">

      <mat-expansion-panel *ngFor="let d of data; let i=index;" [expanded]="i === 0">
        <mat-expansion-panel-header>
          {{d.title}}:
        </mat-expansion-panel-header>
        <ul>
          <li *ngFor="let arg of d.args">{{arg}}</li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>

    <p>Copyright 2017, Rafał Kozioł, All rights reserved.</p>
  </md-card>
</div>
