/* You can add global styles to this file, and also import other style files */

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://code.getmdl.io/1.1.3/material.indigo-pink.min.css';
@import './assets/animate.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html {
  background: url('/assets/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html,
body,
material-app,
md-sidenav-container,
.my-content {
  margin: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 32px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
}

h2 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  margin: 0;
  padding-bottom: 10px;
}

p {
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.bold {
  font-weight: bold;
}

.grey-color {
  color: #757575;
}

.green-color {
  color: rgba(52, 168, 83, 1) !important;
}

.red-color {
  color: rgba(234, 67, 53, 1) !important;
}

.blue-color {
  color: rgba(66, 133, 244, 1) !important;
}

.yellow-color {
  color: rgba(251, 188, 5, 1) !important;
}

.white-color {
  color: rgba(255, 255, 255, 7) !important;
}

.black-color {
  color: rgba(0, 0, 0, 0.7);
}

.red-bg {
  background-color: rgba(234, 67, 53, 1);
}

.white-bg {
  background-color: white;
}

.dark-bg {
  background-color: #757575;
}

.grey-bg {
  background-color: rgba(193, 193, 193, 0.87)
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shadow {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}

.hover-shadow {
  box-shadow: none;
}

.hover-shadow:hover {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  transition: all 475ms;
}

.pointer {
  cursor: pointer;
}

.mat-list-item-content {
  /* padding-left: 0px !important;
  padding-right: 0px !important; */
  width: 100%;
}

.pulse {
  overflow: initial;
  position: relative
}

.pulse::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s, -webkit-transform .3s;
  -webkit-animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
  animation: pulse-animation 1s cubic-bezier(0.24, 0, 0.38, 1) infinite;
  z-index: -1
}

@-webkit-keyframes pulse-animation {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5)
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5)
  }
}

@keyframes pulse-animation {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  50% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5)
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5);
    transform: scale(1.5)
  }
}


/* SCROLLBAR */


/*::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 2px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}*/

router-outlet {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: auto;
}

.container {
  width: 100%;
  margin: auto;
  max-width: 1000px;
}

app-header {
  min-height: 64px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
  z-index: 1;
}

@media only screen and (max-width: 992px) {
  app-header {
    min-height: 56px;
  }
}

.loader-holder {
  display: flex;
}

.loader-holder>div {
  margin: auto;
}
