:host {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

:host>mdl-card {
    margin: auto;
}

:host mdl-card-supporting-text button {
    float: right;
}

:host mdl-card-supporting-text md-input-container {
    width: 100%;
}

:host mdl-card-actions a {
    text-transform: lowercase;
}

:host .action-holder {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 20px;
}

:host .progress-container {
    width: 100%;
    height: 4px;
}

:host .progress-container>mdl-progress {
    width: 100%;
}

:host .component-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

:host .component-body{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
    
:host .component-header{
    width: 100%;
}

:host .component-body-card{
    margin: auto;
}

:host .md-icon-button-container>button{
    margin-left: 24px;
    margin-right: 24px;
}