<div class="component-container">
  <div class="component-header">
    <app-header [config]="appHeaderConfig" >
      <div class="app-header-conteiner">
        <div class="app-header-nav">
          <div class="md-icon-button-container">
            <button md-icon-button [routerLink]="['/user']"><md-icon>keyboard_backspace</md-icon></button>
            <span class="app-header-title pointer">Back to account settings</span>
          </div>
        </div>
      </div>
    </app-header>
  </div>
  <div class="container">
    <div class="component-body">
      <mdl-card class="demo-card-square animated zoomIn component-body-card" mdl-shadow="2">
        <mdl-card-title mdl-card-expand>
          <h2 mdl-card-title-text i18n>{{formTxt.header}}</h2>
        </mdl-card-title>
        <mdl-card-supporting-text>
          <p i18n>{{formTxt.description}}</p>
          <form *ngIf="myForm" [formGroup]="myForm" novalidate (ngSubmit)="submit(myForm)" class="animated fadeInUp">

            <my-dynamic-form-group (onInputChange)="captureEvent($event)" [dynamicFormGroup]="myForm"></my-dynamic-form-group>

            <div class="action-holder">
              <div>
                <span *ngIf="responseToTemplate.status!=undefined" class="animated zoomIn" [ngClass]="{'green-color' : responseToTemplate.status, 'red-color' : !responseToTemplate.status}">{{responseToTemplate.msg}}</span>
              </div>
              <!--<div>
                    <button mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple [disabled]="!myForm.valid" i18n>Submit</button>
                </div>-->
            </div>
          </form>
        </mdl-card-supporting-text>
        <div class="progress-container">
          <mdl-progress *ngIf="responseToTemplate.inProgress" [indeterminate]="true"></mdl-progress>
        </div>
      </mdl-card>
    </div>
  </div>
</div>
