:host {
    background: black;
    display: block;
    width: 100%;
    height: calc(100vh - 64px);
    margin-top: 64px;
}

:host pre {
    color: white;
    background: rgba(66, 133, 244, 1) !important;
}

:host img {
    max-width: 90%;
    max-height: 100%;
}

:host iframe {
    max-width: 90%;
    max-height: 100%;
    height: 100vh;
}

:host .img-preview {
    display: flex;
    max-height: calc(100vh - 64px);
}

:host .obj-preview {
    display: flex;
    max-height: calc(100vh - 64px);
}

:host .img-preview>img {
    margin: auto;
}

:host .obj-preview>iframe {
    margin: auto;
}

.mat-dialog-container {
    max-width: 100vw;
    background: rgba(0, 0, 0, 0.5)
}

:host .file-preview-nav {
    background-color: rgba(0, 0, 0, 1.0);
    width: 100%;
    position: fixed;
    top: 0px;
    height: 64px;
    line-height: 64px;
}

:host .file-preview-nav mdl-icon {
    color: white;
}

@media only screen and (max-width: 992px) {
     :host {
        height: calc(100vh - 56px);
        margin-top: 56px;
    }
     :host .file-preview-nav {
        height: 56px;
        line-height: 56px;
    }
     :host .img-preview {
        max-height: calc(100vh - 56px);
    }
     :host .obj-preview {
        max-height: calc(100vh - 56px);
    }
}

:host .inner-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/deep/ .mat-dialog-container {
    max-width: 100vw;
    max-height: 100vh;
    padding: 0px;
}

:host pre{
    margin-top: 0px;
}