<div class="img-preview" *ngIf="file.mimetype === 'image/jpeg' || file.mimetype === 'image/png' || file.mimetype === 'image/gif'">
    <img [src]="fileUrl+file.destination+'/'+file.filename" />
</div>

<div class="obj-preview" *ngIf="file.mimetype !== 'image/jpeg' && file.mimetype !== 'image/png' && file.mimetype !== 'image/gif'">
    <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(fileUrl+file.destination+'/'+file.filename)" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
    </iframe>
</div>


<div class="file-preview-nav">
    <div class="inner-nav">
        <div>
            <a mdl-button mdl-colored mdl-ripple (click)="closeModal()">
                <mdl-icon>arrow_back</mdl-icon>
            </a>
        </div>
        <div>
            <a [href]="fileUrl+file.destination+'/'+file.filename" download="file.originalname" class="action-btn" mdl-button mdl-colored mdl-ripple>
                <mdl-icon>file_download</mdl-icon>
            </a>
            <a class="action-btn" mdl-button mdl-colored mdl-ripple (click)="remove()">
                <mdl-icon>delete</mdl-icon>
            </a>
        </div>
    </div>
</div>


<pre>
    {{data | json}}
    </pre>