<app-header *ngIf="appHeaderConfig.displayHeader" [config]="appHeaderConfig">
  <div class="app-header-conteiner">
    <div class="app-header-nav">
      <div class="md-icon-button-container">
        <button md-icon-button  [routerLink]="['/project/list/actual']">
          <md-icon>keyboard_backspace</md-icon>
        </button>
        <span class="app-header-title pointer">Back to list</span>
      </div>
    </div>
  </div>
</app-header>

<div class="container">
  <div class="project-edit-container shadow animated fadeIn">
    <form *ngIf="myForm" [formGroup]="myForm" novalidate (ngSubmit)="submit(myForm)">
      <my-dynamic-form-group (onInputChange)="captureEvent($event)" [dynamicFormGroup]="myForm"></my-dynamic-form-group>
      <my-dynamic-form-group (onInputChange)="captureEvent($event)" [dynamicFormGroup]="myForm.controls.dates"></my-dynamic-form-group>
    </form>
    <div class="components-container">
      <div class="">
        <span class="sections-titles">TICKETS (start type to add row)</span>
        <app-project-tickets *ngIf="project" [project]="project"></app-project-tickets>
        <span class="sections-titles">CONTRACTORS (hit enter to add row)</span>
        <app-project-contractors *ngIf="project" [project]="project"></app-project-contractors>
      </div>
      <div class="">
        <div class="app-project-chat-wraper">
          <app-project-chat *ngIf="project" [project]="project"></app-project-chat>
        </div>
      </div>
    </div>
    <span class="sections-titles">FILES</span>
    <app-file *ngIf="project" (onSelect)="onSelect($event)" [parentid]=" project._id " [keyword]=" 'project' " [mode]=" 'preview' "></app-file>
  </div>
</div>
