:host {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: auto;
}

:host>div {
  height: calc(100% - 16px);
  margin-top: 16px;
}

:host .project-edit-container {
  background-color: white;
  padding: 16px;
}

:host app-file {
  overflow-x: hidden;
  display: block;
}

:host .components-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}

:host .components-container>div {
  width: calc(50% - 8px);
  margin-bottom: 16px;
}

:host .app-project-chat-wraper {
  width: 100%;
  height: 100%;
  max-height: 75vh;
  position: relative;
}

@media only screen and (max-width: 992px) {
   :host .components-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
  }
   :host .components-container>div {
    width: 100%;
  }
   :host .app-project-chat-wraper {
    width: 100%;
    height: 100%;
    position: relative;
  }
}

:host .sections-titles {
  font-size: 1.1rem;
  line-height: 2.2rem;
  font-weight: bold;
  color: #4385f4;
}

:host .md-icon-button-container button {
  margin-left: 24px;
  margin-right: 24px;
}


/* :host .components-container>div {
  width: 100%;
} */
