:host #upload_form {
    border: 2px dashed #757575;
    margin-bottom: 10px;
}

:host #upload_form>label {
    display: inline-block;
    height: 10vh;
    width: 100%;
    line-height: 10vh;
    font-weight: bold;
    text-align: center;
    color: #757575;
    border-radius: 0px;
    cursor: default;
    padding: 10px;
}

:host mdl-card {
    position: relative;
}

:host #upload_form>label.hover {
    color: #f00;
    border-color: #f00;
    border-style: solid;
}

:host #upload_form>input {
    display: none;
}

:host {
    width: 100%;
}

:host mdl-card a {
    min-width: 40px;
    padding-left: 8px;
    padding-right: 8px;
    float: right;
}

:host mdl-card-actions {
    background-color: rgba(0, 0, 0, 0.53);
    position: absolute;
    bottom: 0px;
}

:host mdl-card-actions>a>mdl-icon {
    color: rgba(255, 255, 255, 0.73)
}

:host mdl-card-title {
    cursor: pointer;
    padding: 3px;
    opacity: 0.0;
    background-color: rgba(0, 0, 0, 0.23);
    /*clip-path: circle(30% at 50% 50%);*/
}

:host mdl-card-title p {
    color: rgba(255, 255, 255, 0.87) !important;
}

:host mdl-card-title:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.53);
    /*clip-path: circle(100% at 50% 50%);*/
    transition: all 0.175s cubic-bezier(0.47, 0, 0.745, 0.715);
}

:host .preview-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5)
}


/**/

:host .fixed-size-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

:host .fixed-size-item {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 6px;
    width: 16.3%;
    /*height: 100%;*/
}

:host .fixed-size-container mdl-card {
    min-height: 160px;
    max-width: 100%;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 992px) {
     :host .fixed-size-item {
        width: 24.5%;
    }
     :host .fixed-size-container mdl-card {
        min-height: 160px;
    }
}

@media only screen and (max-width: 600px) {
     :host .fixed-size-item {
        width: 49.5%;
    }
     :host .fixed-size-container mdl-card {
        min-height: 160px;
    }
}

:host .select-file-container {
    position: absolute;
    background: rgba(0, 0, 0, 0.0);
    width: 100%;
    height: 100%;
    cursor: pointer;
}

:host .select-file-container mdl-icon {
    margin: 5px;
    border: 1px solid white;
    border-radius: 50%;
}

:host .progress-container {
    margin-top: 2px;
    width: 100%;
    height: 4px;
}

:host .progress-container>mdl-progress {
    width: 100% !important;
}