<form id="upload_form" enctype="multipart/form-data" method="POST" class="animated fadeIn">
    <label for="upload_form_input" id="upload_form_label">browse or drop files here</label>
    <input type="file" name="file" id="upload_form_input" multiple (change)="inputChange($event)" /><br>
</form>

<div #uploadedfiles id="uploaded-files" class="fixed-size-container" (scroll)="onScroll($event)" style="overflow: auto; max-height: 50vh;">
    <div *ngFor="let file of files; let i=index;" class="hover-shadow fixed-size-item animated fadeInUp" [ngStyle]="{'animation-delay.ms': 75*file.tmp.delay}">
        <mdl-card [@previewAnimation]="file.state" class="demo-card-event" mdl-shadow="2" [ngStyle]="{'background': 'url('+file.tmp.thumb+') center/cover'}">
            <div *ngIf="mode=='select'" (click)="selectFile(file._id, i)" class="select-file-container">
                <mdl-icon *ngIf="selectedFile==file" class="blue-color white-bg animated-long-easing rotateIn">check_circle</mdl-icon>
            </div>

            <mdl-card-title *ngIf="mode=='preview'" mdl-card-expand (click)="preview(i)">
                <p class="truncate">
                    {{file.originalname}}<br> {{file.createdAt | date:"yyyy-MM-dd hh:mm" }}<br> {{file.size | fileSize}} {{file.state}}
                </p>
            </mdl-card-title>
            <mdl-card-actions mdl-card-border>
                <a mdl-button mdl-colored mdl-ripple (click)="remove(file._id, i)">
                    <mdl-icon>delete</mdl-icon>
                </a>
                <a *ngIf="mode=='preview'" [href]="fileUrl+file.destination+'/'+file.filename" download="file.originalname" mdl-button mdl-colored mdl-ripple>
                    <mdl-icon>file_download</mdl-icon>
                </a>
                <mdl-layout-spacer></mdl-layout-spacer>
            </mdl-card-actions>
        </mdl-card>
    </div>
</div>
<div class="progress-container">
    <mdl-progress *ngIf="elementProp.showLoader" [indeterminate]="true"></mdl-progress>
</div>